{% extends 'layout.html' %}

{% block body  %}
    <h1 class="text-light">Scheme</h1>
    <SELECT name="scheme_name" style="font-family:verdana">
      <option value="">Select Scheme</option>';
      {% for scheme in schemes %}
        <OPTION value={{scheme}}>{{scheme[0]}}</OPTION>
      {% endfor %}
      </SELECT>
    <table border="1" cellpadding="5" cellspacing="5">
        {% for row in data %}
            <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}