{% extends 'layout.html' %}
 
{% block body  %}
<div class="container"></div>
<h1 class="text-dark">TownShip</h1>
    <SELECT name="town_name" id="town_name" style="font-family:verdana">
    <option value="">Select TownShip</option>';
    {% for town in towns %}
        <OPTION Value="{{ town }}" >{{town[0]}}</OPTION>
    {% endfor %}
    </SELECT>
    <input type="hidden" name="hidden_value" id="hidden_value" />
    <div style="clear:both"></div>
      <br/>
      <h3 align="center">Township addresses</h3>
      <div class="table-responsive">
                <table class="table table-bordered table-striped sortable">
                        <thead>
                            <tr>
                                <th>Premise_Id</th>
                                <th>FullNames</th>
                                <th>Street_Address</Address>
                                <th>town_name</Address></th>
                                <th>Postal codes</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                </table>
        </div>
    <br />
    <br />
    <br />
    </div>
    <script>
        $(document).ready(function(){
            load_data();
            function load_data(query='')
            {
                $.ajax({
                    url:"/fetch_towns",
                    method:"POST",
                    data:{query:query},
                    success:function(data)
                    { 
                        $('tbody').html(data);
                        $('tbody').append(data.htmlresponse);
                    }
                })
            }
          
            $('#town_name').change(function(){
                $('#hidden_value').val($('#town_name').val());
                var query = $('#hidden_value').val(); 
                load_data(query);
            });
              
        });
        
        </script>
{% endblock %}
